@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* FOR MOBILE DEVICE */
@media only screen and (max-width: 375px) {
  html {
    background-image: url("./images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  body {
    color: white;
    font-weight: 400;
    font-size: 3vw;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    margin-left: 55px;
    font-size: 1.6em;
    margin-top: 15px;
  }

  .info,
  .form-info {
    flex: 100%;
  }

  .info {
    padding-top: 0px;
    margin-top: 150px;
  }

  .trial {
    background-color: hsl(248, 32%, 49%);
    padding: 15px 10px 15px 5px;
    text-align: center;
    border-radius: 9px;
    font-size: 1.1em;
    font-weight: 400;
    width: 255px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-top: 15px;
    box-shadow: #b94d4d 0px 6px 3px;
  }

  p {
    line-height: 1.8;
    text-align: center;
    font-size: 0.7em;
  }

  .submit {
    background-color: hsl(154, 59%, 51%);
    padding: 15px 10px 15px 5px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 9px;
    font-size: 0.7em;
    color: white;
    font-weight: 500;
  }

  #firstname,
  #lastname,
  #email,
  #password {
    font-weight: 600;
  }
  form {
    border: solid 1px rgb(168, 166, 166);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 3px hsl(144deg 2% 41%);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    box-shadow: #b94d4d 0px 6px 3px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    font-size: initial;
  }

  footer {
    color: hsl(246, 25%, 77%);
    text-align: center;
  }
}

/* FOR DESKTOP */
@media only screen and (max-width: 1440px) {
  html {
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    color: white;
  }
  body {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .info {
    flex: 50%;
  }

  .form-info {
    flex: 50%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    margin-top: 150px;
    display: flex;
    margin-left: 75px;
  }

  p {
    font-size: 0.8em;
    margin-right: 123px;
    margin-left: 74px;
  }
  .trial {
    background-color: hsl(248, 32%, 49%);
    padding: 15px 10px 15px 5px;
    text-align: center;
    border-radius: 9px;
    font-size: 1.1em;
    font-weight: 400;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-top: 15px;
    box-shadow: #b94d4d 0px 6px 3px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;
  }

  form {
    border: solid 1px rgb(168, 166, 166);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 3px hsl(144deg 2% 41%);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    box-shadow: #b94d4d 0px 6px 3px;
  }

  .submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
  }

  footer {
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: x-small;
  }
}
